// @use "../../assets/styles/_variables" as *;

.beer-card {
  //   border: 2px solid #c6c6c6;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px rgba(rgb(185, 181, 180), 0.5);
  border-radius: 10px;
  width: 260px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.01);
  }

  &__image-container {
    background-color: #e3e1e1;
    width: 100%;
    // margin: 15px auto;
    padding: 10px 0;
    margin-bottom: 15px;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    // border: 2px solid purple;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__name {
    font-size: 1.1rem;
  }

  &__info {
    font-size: 0.75rem;
  }
}
