@use "../../assets/styles/_variables" as *;

.main {
  padding: 30px;
  padding: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
  gap: 2.6rem;
  margin-top: 273px;

  &__no-results {
    margin: 0 auto;
    font-weight: 700;
  }
}

@media screen and (min-width: $desktop) {
  .main {
    margin-top: 0;
    margin-left: 293px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
