@use "../../assets/styles/_variables" as *;

.main {
  // border: 2px solid red;
  padding: 30px;
  padding: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
  gap: 2.6rem;
  margin-top: 273px;
}

@media screen and (min-width: $desktop) {
  .main {
    margin-top: 0;
    margin-left: 327px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // margin-left: calc(5fr - 1fr);

    // width: 100%;
  }
}
