$desktop: 900px;
$beercard-font-color: #171717;
$beercard-background-color: #fefdfd;
$navbar-font-colour: #ffffff;
$navbar-primary-background-color: #362222;
$navbar-secondary-background-color: #b3541e;
