@use "../../assets/styles/_variables" as *;

.nav {
  background: radial-gradient(
    $navbar-secondary-background-color,
    $navbar-primary-background-color
  );
  border-bottom: 2px solid #825151;
  color: $navbar-font-colour;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: 25px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  &__logo-container {
    // border: 2px solid #3a1e0c;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
  }

  &__title {
    font-size: 1.4rem;
  }

  &__icon {
    font-size: 1.3rem;
  }

  &__search-and-clear-filter-container {
    display: flex;

    justify-content: flex-start;
    gap: 20px;
  }

  &__checkboxes {
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

@media screen and (min-width: $desktop) {
  .nav {
    height: 100%;
    width: auto;
    border-right: 3px solid #825151;
  }
}
